In [1]:
import numpy as np

# High order or powerful fuctions of Python:
    
1)MAP():  It accepts another Function & sequence of iterable as parameter and provide o/p after applying fuction to each iterables\
2)FILTER():  Generate list of values that return true when fuction is called\
3)REDUCE(): accepts another Function & sequence of iterable as parameter and provide single value as output....

In [2]:
#Ex
a=[2,4,5,6]
m=map(lambda x:x+3,a)
print("Map:",tuple(m))

f=filter(lambda x:x>3,a)
print("Filter :",tuple(f))

from functools import reduce
r=reduce(lambda x,y : x+y ,a)
print("Reduce:",r)

Map: (5, 7, 8, 9)
Filter : (4, 5, 6)
Reduce: 17

# Array vs List:
Array contain same type of values(Homogeneous) \
List contains different types of values(Hetrogeneous)

In [3]:
# Array cannot accepts different type of rows and col. list contain of different size of row and col
l=[[1,2,3],[4,5]]
print("list:",l)

arr=np.array([[1,2,3],[4,5]])
print("array:",arr)

list: [[1, 2, 3], [4, 5]]
array: [list([1, 2, 3]) list([4, 5])]

C:\Users\pujad\AppData\Local\Temp\ipykernel_14296\3833544493.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr=np.array([[1,2,3],[4,5]])

In [4]:
#Array con direclty handles mathematical operations. List cannot hadle mathematical operations directly.
a=np.array([1,2,3,4])
l=[1,2,3,4]
print("Array:",a*2)
print("List:",l*2)

Array: [2 4 6 8]
List: [1, 2, 3, 4, 1, 2, 3, 4]

# Python Collection: 
are used to store multiple values in single variable
    list: [], tuples: (), set:{},dictionary:{:}

# 1) List: 
represented using [] \
List can contain different types of values\
ordered , mutable ,Allows duplicates\
allows Slicing\
List can have more than 1 null values\
Functions: insert(),append(),extend(),pop(),clear(),remove(),copy(),index(),count(),reverse(),sort()

In [7]:
listnull=[1,2,4,'aaa','bbb','','','vvv','']
print(listnull)
print(type(listnull))

[1, 2, 4, 'aaa', 'bbb', '', '', 'vvv', '']
<class 'list'>

In [8]:
list=['apples','banana','cherry',10,True,10.5]
print(list)
print(list[0])
print(type(list))
print(list[0][0])

['apples', 'banana', 'cherry', 10, True, 10.5]
apples
<class 'list'>
a

In [9]:
#list are mutable: can make change in list
list[0]="Grapes"
print(list)
list[0:1]=["apple","BaNANA"]
print(list)
list[0:1]=["apple","Banana"]
print(list)

['Grapes', 'banana', 'cherry', 10, True, 10.5]
['apple', 'BaNANA', 'banana', 'cherry', 10, True, 10.5]
['apple', 'Banana', 'BaNANA', 'banana', 'cherry', 10, True, 10.5]

In [229]:
list=['apples','banana','cherry']

In [230]:
list.append("Orange") #add item at the end of list
print(list)

['apples', 'banana', 'cherry', 'Orange']

In [231]:
list.insert(4,'papaya') #insert items at specific positoin
print(list)

['apples', 'banana', 'cherry', 'Orange', 'papaya']

In [232]:
list2=[10,5,'aaa','bbb']
list.extend(list2) # used to extend list with another list
print(list)

['apples', 'banana', 'cherry', 'Orange', 'papaya', 10, 5, 'aaa', 'bbb']

In [233]:
list.remove(10) #removes specific values
list.remove(5)
list.remove('aaa')
print(list)

['apples', 'banana', 'cherry', 'Orange', 'papaya', 'bbb']

In [234]:
list.pop(5)  #Removes the element at the specified position
print(list)

list.pop() #Removes the element at last position
print(list)

['apples', 'banana', 'cherry', 'Orange', 'papaya']
['apples', 'banana', 'cherry', 'Orange']

In [12]:
list3=['apple','banana','cherry','Orange','papaya','Mango']
list3

['apple', 'banana', 'cherry', 'Orange', 'papaya', 'Mango']

In [33]:
list3.sort() # to sort value in ascending order .
print(list3)

list3.sort(reverse=True) 
print(list3)

list3.sort(key=str.lower) 
print(list3)

list3.sort(reverse=True,key=str.lower) # to sort value in descending order . case Insensitive
print(list3)

list3.reverse() #reverse list without sorting the list. ignores case sensitivity
print(list3)

l3=['apples','Papaya','banana','cherry']
l3.reverse()#reverse list without sorting the list. ignores case sensitivity
print(l3)

['Mango', 'Orange', 'apple', 'banana', 'cherry', 'papaya']
['papaya', 'cherry', 'banana', 'apple', 'Orange', 'Mango']
['apple', 'banana', 'cherry', 'Mango', 'Orange', 'papaya']
['papaya', 'Orange', 'Mango', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'Mango', 'Orange', 'papaya']
['cherry', 'banana', 'Papaya', 'apples']

In [34]:
l3.count("apples")

1

In [35]:
l3.count("a")

0

In [36]:
print(l3)
x=l3.index("apples")
x

['cherry', 'banana', 'Papaya', 'apples']

3

In [37]:
print(len(list))

8

In [38]:
mylist3=list3.copy()
print(mylist3)

['apple', 'banana', 'cherry', 'Mango', 'Orange', 'papaya']

# Join two lists

In [39]:
#join 2 list
mylist0=['papaya', 'Orange', 'Mango']
mylist=[10,8,8]
a=mylist0+mylist
print(a)

['papaya', 'Orange', 'Mango', 10, 8, 8]

In [40]:
print(mylist0)
print(mylist)

['papaya', 'Orange', 'Mango']
[10, 8, 8]

In [41]:
for x in mylist:
    mylist0.append(x)
print(mylist0)

['papaya', 'Orange', 'Mango', 10, 8, 8]

In [42]:
x = mylist0.append(mylist)
print(mylist0)

['papaya', 'Orange', 'Mango', 10, 8, 8, [10, 8, 8]]

In [43]:
mylist0.extend(mylist)
print(mylist0)

['papaya', 'Orange', 'Mango', 10, 8, 8, [10, 8, 8], 10, 8, 8]

COUNT()

clear()

In [44]:
mylist0.clear()
mylist0

[]

In [45]:
mylist3.clear()
mylist3

[]

In [46]:
mylist.clear()
mylist

[]

# Looping through the List
use : for ,for with range, while and list comprehension

In [249]:
list3

['apple', 'banana', 'cherry', 'Mango', 'Orange', 'papaya']

In [250]:
#using for
for x in list3:
    print(x)

apple
banana
cherry
Mango
Orange
papaya

In [48]:
for x in range(len(list3)):
    print(list3[x])

apple
banana
cherry
Mango
Orange
papaya

In [47]:
for x in range(2,len(list3)):
    print(list3[x])

cherry
Mango
Orange
papaya

In [252]:
x=0
while x<len(list3):
    print(list3[x])
    x=x+1

apple
banana
cherry
Mango
Orange
papaya

In [49]:
newlist3=[ print(x) for x in list3] #list Comprehension

apple
banana
cherry
Mango
Orange
papaya

In [ ]:
# List comprehension is an elegant way to define and create lists based on existing lists. List comprehension is 
# generally more compact and faster than normal functions and loops for creating list. However, we should avoid 
# writing very long list comprehensions in one line to ensure that code is user-friendly.

In [254]:
newlist3=[print(x)  for x in list3 if "a" in x] #list Cpmprehension

apple
banana
Mango
Orange
papaya

In [51]:
newlist3=[print(x)  for x in list3 if "ban" in x] #list Cpmprehension

banana

In [256]:
newlist3=[print(x)  for x in list3 if x !="apple" ] #list Cpmprehension

banana
cherry
Mango
Orange
papaya

In [257]:
newlist3= [print(list3[x])  for x in range(len(list3) )] #list Cpmprehension

apple
banana
cherry
Mango
Orange
papaya

In [258]:
list3.clear()
list3

[]

# 2)Tuples

represented using () \
tuples can ontain different types of values\
allows slicing\
ordered , Immutable ,Allows duplicates\
can have more than 1 null values\
Functions: index(),count(),len(),sorted() , min(),max(),sum()

In [57]:
tup = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
print("Sorted:",sorted(tup)) #cannot use sort
print("Reverse:",sorted(tup,reverse=True)) #descending order
print("Min:",min(tup))
print("max:",max(tup))
print("sum:",sum(tup))

Sorted: [1, 2, 2.4, 3, 4, 22, 45, 56, 890]
Reverse: [890, 56, 45, 22, 4, 3, 2.4, 2, 1]
Min: 1
max: 890
sum: 1025.4

In [58]:
tupnull=("apple","papaya","","banana","","banana",'' ,10)#allow more than 1 null values
tupnull

('apple', 'papaya', '', 'banana', '', 'banana', '', 10)

In [59]:
tup=("apple","papaya","watermelon","banana","cherry","banana",10,10,10)
tup

('apple', 'papaya', 'watermelon', 'banana', 'cherry', 'banana', 10, 10, 10)

In [60]:
len(tup)

9

TUPLES ARE IMMUTABLE: CANNOT MAKE CHANGES IN TUPLES\
#To make changes in tuples we will convert it in list and then convert taht list into tuple

In [262]:
#tup[0]="app"
#tup

#Error: TypeError: 'tuple' object does not support item assignment

In [62]:
#y=list(tup)
#y.append("oranges")
#y
#t=tuple(y)
#print(t)

In [63]:
# tuples allowed slicing 

tup[-4:-1]

('banana', 10, 10)

In [265]:
tup.count("apple")

1

In [266]:
tup.count(10)

3

In [267]:
tup.index("banana")

3

Joining  two tuples:

In [268]:
tup1=("frf",50.5)
a=tup+tup1
print(a)

('apple', 'papaya', 'watermelon', 'banana', 'cherry', 'banana', 10, 10, 10, 'frf', 50.5)

In [269]:

print(tup1)

tup1=("frf",50.5)
a=tup1*3
print(a)

('frf', 50.5)
('frf', 50.5, 'frf', 50.5, 'frf', 50.5)

# 3)Sets:
-represented using {} \
-sets contains different types of values\
-unordered  ,no duplicates allowed\
immutable :allow add and remove operations but cannot edit the set\
allow only  1 null value\
does not allow Slicing\
-Functions:\
add(), update(), union(), copy(), intersection(), intersection_update(), isdisjoint(), issubset() , issuperset(), discard(), pop(), remove(), clear(), symmetric_difference(), symmetric_difference_update(), difference(), difference_update

In [83]:
sets1={'apples', 'banana', 'cherry', 'Orange','kiwi'}
sets2={'oranges','watermelon','kiwi','','peach',''} #sets can have only 1 null value
print(sets1)
print(sets2)

{'kiwi', 'cherry', 'apples', 'Orange', 'banana'}
{'', 'kiwi', 'watermelon', 'peach', 'oranges'}

In [84]:
#Looping throgh the sets

for x in sets1:
    print(x)

kiwi
cherry
apples
Orange
banana

In [85]:

# x=0
# while x<len(sets1):
#     print(sets1[x]) # cannot loop through sets useing while bcoz sets does not allow slicing Ex sets[x]
#     x=x+1
# #print("Sorted:",sorted(tup))

In [86]:
#sets1[0:3] #sets does not allow slicing 
#TypeError: 'set' object is not subscriptable

In [98]:
print(sets1) # sets are unorderd
sets1

{'kiwi', 'cherry', 'apples', 'Orange', 'banana'}

{'Orange', 'apples', 'banana', 'cherry', 'kiwi'}

In [144]:
# typecasting list to set
l=["a", "b", "c"]
myset = set(l)
print(myset)
 
# Adding element to the set
myset.add("d")
print(myset)

{'b', 'a', 'c'}
{'b', 'd', 'a', 'c'}

In [103]:
sets={1,1,2,2,3,5,8} #does not allow duplicates
sets

{1, 2, 3, 5, 8}

In [ ]:

#cannot edit once values are enters into the set 

#sets[1]=10 #non editable bcoz slicing not allowed
#sets

In [276]:
# Immutable but can add or remove values from sets
sets.add(10)
sets

{1, 2, 3, 5, 8, 10}

In [277]:
# Immutable but can remove values fromsets
sets.remove(10) # remove(): to remove specified item.Raise error if value is not present
sets

{1, 2, 3, 5, 8}

Join Two Sets 
  Using update () and union()

In [278]:
print(sets1)
print(sets2)

{'apples', 'banana', 'kiwi', 'Orange', 'cherry'}
{'', 'oranges', 'peach', 'watermelon', 'kiwi'}

In [279]:
x=sets1.union(sets2) #kiwi is not stored 2 times becoz sets cannot allow duplicate
print(x)

{'', 'oranges', 'watermelon', 'banana', 'apples', 'kiwi', 'Orange', 'cherry', 'peach'}

In [280]:
sets1.union(sets2) #does not maek changes in original set
print(sets1)

{'apples', 'banana', 'kiwi', 'Orange', 'cherry'}

In [281]:
sets1.update(sets2)  #kiwi is not sored 2 times becoz sets cannot allow duplicate
print(sets1)   # maek changes in original set

{'', 'oranges', 'watermelon', 'banana', 'apples', 'kiwi', 'Orange', 'cherry', 'peach'}

In [282]:
#copy()
x=sets.copy()
x

{1, 2, 3, 5, 8}

discard(),remove() ,pop(),clear()

In [283]:
sets.discard(5) #discard(): to remove specified item. does not raise an error if value is not present
sets

{1, 2, 3, 8}

In [284]:
#sets.remove(1000) # remove(): to remove specified item.Raise error if value is not present
#sets

In [285]:
sets.clear() #remove all values form sets
print(sets)

set()

In [286]:
x

{1, 2, 3, 5, 8}

In [287]:
#pop() :Removes random element from the set
x.pop() #pop() :takes no arguments

1

In [288]:
x

{2, 3, 5, 8}

In [289]:
x.pop()
x

{3, 5, 8}

difference() vs difference_update()

diffrence() :return a set containing the difference between two or more sets.\
difference_update():Removes the items in this set that are also included in another,specified set.also make changes in original sets

In [8]:
x={10,2,3,4,5}
y={11,21,55,3,5,6}
x.difference(y) #does notmake change in original sets

{2, 4, 10}

In [11]:
x=[10,2,3,4,5]
y=[11,21,55,3,5,6]
a=set(x)  #typecasting list to set
b=set(y)   #typecasting list to set
a.difference(b) #does notmake change in original sets

{2, 4, 10}

In [12]:
a  #does notmake change in original sets

{2, 3, 4, 5, 10}

In [13]:
x={10,2,3,4,5}
y={11,21,55,3,5,6}
x.difference_update(y)  # maek change in original in sets
print(x)

{2, 4, 10}

In [14]:
x  # maek change in original in sets

{2, 4, 10}

In [15]:
sets1={'apples', 'banana', 'cherry', 'Orange','kiwi'}
sets2={'oranges','watermelon','','kiwi','','peach',} #sets can have only 1 null value
print(sets1)
print(sets2)

{'Orange', 'cherry', 'kiwi', 'banana', 'apples'}
{'', 'watermelon', 'peach', 'oranges', 'kiwi'}

intersection():Returns a set, that is the intersection of two or more sets\
intersection_update():Removes the items in this set that are not present in other, specified set(s).make chnege in original sets

In [16]:
sets1={'apples', 'banana', 'cherry', 'Orange','kiwi'}
sets2={'oranges','watermelon','','kiwi','','peach',} #sets can have only 1 null value
print(sets1)
print(sets2)

{'Orange', 'cherry', 'kiwi', 'banana', 'apples'}
{'', 'watermelon', 'peach', 'oranges', 'kiwi'}

In [17]:
sets1.intersection(sets2) #does't make cange in original sets

{'kiwi'}

In [18]:
sets1  #does't make cange in original sets

{'Orange', 'apples', 'banana', 'cherry', 'kiwi'}

In [19]:
sets1.intersection_update(sets2) #make change in original sets
sets1

{'kiwi'}

isdisjoint():Returns whether two sets have a intersection or not.#Return True if no items in set x is present in set y:\
issubset() :Returns whether another set contains this set or not.Return True if all items in set x are present in set y:\
issuperset():Returns whether this set contains another set or not.Return True if all items set y are present in set x:

In [393]:
sets1={'apples', 'banana', 'cherry', 'Orange','kiwi'}
sets2={'oranges','watermelon','','kiwi','','peach'} 
print(sets1)
print(sets2)

{'apples', 'banana', 'kiwi', 'Orange', 'cherry'}
{'', 'oranges', 'peach', 'watermelon', 'kiwi'}

In [394]:
#disjoint(): having no elements in common.
sets1.isdisjoint(sets2) #Return false if items in set x is present in set y:

False

In [20]:
#disjoint(): having no elements in common.
s1={1,2,3}
s2={11,21,31}
s1.isdisjoint(s2)  #Return True if no items in set x is present in set y:

True

In [396]:
ss1={1,2,3}
ss2={1,11,21,31,2,3}
ss1.issubset(ss2) #Return True if all items in set x are present in set y:

True

In [397]:
sets1.issubset(sets2)

False

In [398]:
st1={100,200,300}
st2={100,200}
st1.issuperset(st2) #Return True if all items set y are present in set x:

True

symmetric_difference() :Return a set that contains all items from both sets, except items that are present in both sets.
    Returns a set with the symmetric differences of two sets\
symmetric_difference_update():Remove the items that are present in both sets, AND insert the items that is not present in both 
    sets.inserts the symmetric differences from this set and another

In [424]:
sets1={'apples', 'banana', 'cherry', 'Orange','kiwi'}
sets2={'oranges','watermelon','','kiwi','','peach',} 
print(sets1)
print(sets2)

{'apples', 'banana', 'kiwi', 'Orange', 'cherry'}
{'', 'oranges', 'peach', 'watermelon', 'kiwi'}

In [425]:
# return all values different from both the sets except common values
sets1.symmetric_difference(sets2) #does not make change in original sets

{'', 'Orange', 'apples', 'banana', 'cherry', 'oranges', 'peach', 'watermelon'}

In [426]:
sets1

{'Orange', 'apples', 'banana', 'cherry', 'kiwi'}

In [427]:
sets1.symmetric_difference_update(sets2) ## make change in original sets

In [428]:
sets1

{'', 'Orange', 'apples', 'banana', 'cherry', 'oranges', 'peach', 'watermelon'}

# 4)Dictionary
used to store multiople value in key-value form\
-represented using {key:value} \
unordered before version 3.7.now Ordered\
Mutable and does not allow duplicates\
slicing/indexing are not allowed\
only 1 null values is allowed\
methods : copy(), clear(), pop(), popitem(), update(), fromkeys(), get(), keys(), values(), items(), setdefault()

In [29]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "brand": "Ford", #does not allow duplicates
  "year": 1964,
   "":"",
   "":"", #allowe only 1 null value
   "Owner":"Puja"
    
}
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, '': '', 'Owner': 'Puja'}

In [30]:
car #orderd

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, '': '', 'Owner': 'Puja'}

In [31]:
#mutable / changable

car['Owner']='Pooja'
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, '': '', 'Owner': 'Pooja'}

Dictionary Methods:
copy(), clear(), pop(), popitem(), update(), fromkeys(), get(), keys(), values(), items(), setdefault()

In [32]:
x=car.copy() #Returns a copy of the dictionary
x

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, '': '', 'Owner': 'Pooja'}

In [33]:
x.update({"color": "white"}) #Updates the dictionary with the specified key-value pairs. inser if not present 
x  #edit the dictionary

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 '': '',
 'Owner': 'Pooja',
 'color': 'white'}

In [35]:
x.update({"color": "Black"})  
x

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 '': '',
 'Owner': 'Pooja',
 'color': 'Black'}

In [36]:
car.update({'year':1977}) #Updates the dictionary if not present
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1977, '': '', 'Owner': 'Pooja'}

In [37]:
x.pop("Owner") #Removes the element with the specified key
x

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, '': '', 'color': 'Black'}

In [38]:
x.pop("")
x

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Black'}

In [39]:
x.clear() #Removes all the elements from the dictionary
x

{}

In [40]:
car.pop("")
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1977, 'Owner': 'Pooja'}

dict.fromkeys():\
Returns a dictionary with the specified keys and value\
create dictionary with different keys but with same values

In [41]:
x={'price','lenght','weight'}
z= dict.fromkeys(x,1) #Create a dictionary with 3 diffrent keys, all with the value 0:
print(z)

{'price': 1, 'weight': 1, 'lenght': 1}

In [448]:
x={'price','lenght','weight'}
z=dict.fromkeys(x) #Create a dictionary with 3 keys, all with the value none:
print(z)

{'price': None, 'lenght': None, 'weight': None}

In [325]:
x={'price','lenght','weight'}
y={6265,465}
z=dict.fromkeys(x,y) 
print(z)

{'price': {6265, 465}, 'lenght': {6265, 465}, 'weight': {6265, 465}}

#get():\
Get the value of the specified Key

In [42]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1977, 'Owner': 'Pooja'}

In [43]:
car.get("model")

'Mustang'

In [44]:
x = car.get("price", 15000) #Try to return the value of an item that do not exist.return value if does not exits
print(x)

15000

In [329]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1977, 'Owner': 'Puja'}

item():\
Returns a list containing a tuple for each key value pair

In [330]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1977), ('Owner', 'Puja')])

keys():Returns a list containing the dictionary's keys\
values():Returns a list of all the values in the dictionary

In [331]:
car.keys()

dict_keys(['brand', 'model', 'year', 'Owner'])

In [332]:
car.values()

dict_values(['Ford', 'Mustang', 1977, 'Puja'])

setdesfault():Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

In [333]:
x = car.setdefault("model", "Bronco")
print(x)

Mustang

In [334]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1977, 'Owner': 'Puja'}

In [335]:
x = car.setdefault("color", "white") #If the key does not exist: insert the key, with the specified value/
print(x)

white

In [336]:
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1977,
 'Owner': 'Puja',
 'color': 'white'}

pop():\
Removes the element with the specified key\
popitem():\
Removes the last inserted key-value pair

In [337]:
car.pop("Owner")
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1977, 'color': 'white'}

In [338]:
car.popitem()
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1977}

#Accessing data items
to access items we use get(),keys(),items(),values()

In [455]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000, 'Owner': 'Puja'}

In [456]:
car['brand']

'Ford'

In [457]:
car['year']=2000
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000, 'Owner': 'Puja'}

Loop Dictionary

In [459]:
for x in car:
    print(x)

brand
model
year
Owner

In [460]:
for x in car:
    print(car[x])

Ford
Mustang
2000
Puja

In [461]:
for x in car.values():
    print(x)

Ford
Mustang
2000
Puja

In [462]:
for x in car.keys():
    print(x)

brand
model
year
Owner

In [463]:
for x in car.items():
    print(x)

('brand', 'Ford')
('model', 'Mustang')
('year', 2000)
('Owner', 'Puja')

In [464]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2000), ('Owner', 'Puja')])

In [465]:
car.keys()

dict_keys(['brand', 'model', 'year', 'Owner'])